node_modules/
.expo/
dist/
web-build/
android/
ios/
expo-env.d.ts

*.apk
*.aab
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store

.env
.env*.local
*.tsbuildinfo

build_android.bat